* {
    margin:0;
    padding:0; 
}



body{
background-color: rgb(255, 255, 255);
}

#container{
    max-width:1300px;
    margin: 0 auto;
}
header{
  background: url('../images/maps.png')  bottom no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height:700px;
 margin-bottom: 75px;
  left: 50%;
 

}
#logo{
  z-index: 999;
     display: block;
     position: absolute;
     top: -40px;
     transform: translateX(30%);
   
      
  }
  .backmobiles{
    display: none;
  }
  /* Burger menu */
  .wrapper{
    display: none;
    
  }
  /* Navbar */
  nav ul {
      list-style:none;
    
  }
  nav ul li a {
      text-decoration:none;
      color:rgb(34, 34, 34);
      border-bottom: 3px solid transparent;
      padding: 5px;
      
      
  }
  nav ul li {
      display: inline;
      font-size:16px;
      font-style: normal;
      padding:50px;
      margin:10px;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
  }
  nav{
      text-align: right;
    background-color: #ffffff;
      padding: 20px;
  transform: translateY(65px);
  }
  
/* Navbar hover */
  nav a.active {
    border-bottom: 3px solid#08D9D6;
  }
  nav a:hover {
    border-bottom: 3px solid #08D9D6;
  }
* {
    box-sizing: border-box;
  }
  
  /* Two columns flex for image and contact form */
  .column {
    float: left;
    width: 50%;
    
    padding: 20px;
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {box-sizing: border-box;}

 /* First name last name */
 input[type=text],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}
/* Telephone number */
input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Email Contact form */
input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  
}
/* Button submit contact form */
button {
  background-color: #08d9d6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
/* Hover button */
button:hover {
  background-color: #0ae9e5
}

.wrapperr {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 50px;
  height:915px;
  font-family: 'Roboto', sans-serif;
  
}
#heading{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 24px;
}
  /* Footer */
  footer{
    margin-top: 200px;
    height: 250px;
    background-color: rgb(255, 255, 255);
  
  }
  #footerlogo{
  display: none;
  }
  a{
  text-decoration: none;
  }
  .ff{
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
  font-family:'Montserrat', sans-serif; 
  font-weight: bold;
  color:rgb(34, 34, 34);
  }
  .lefttext{
  text-align: center;
  line-height: 30px;
  }
  .centertext{
  text-align: center;
  line-height: 30px;
  }
  .centertext ol li{
   list-style: none;
  }
  .centertext ol li a{
   text-decoration: none;
   color:rgb(34, 34, 34);
  }
  .righttext{
  text-align: center;
  line-height: 30px;
  
  }
  #facebookf{
  width: 25px;
  height: 25px;
  margin: 5px;
  }
  #instagramf{
  width: 25px;
  height: 25px;
  margin: 5px;
  }
  #inf{
  width: 25px;
  height: 25px;
  margin: 5px;
  }
  #twitterf{
  width: 25px;
  height: 25px;
  margin: 5px;
  }
  #youtubef{
  width: 25px;
  height: 25px;
  margin: 5px;
  }
  /* media queries for mobile screens 360-500px */
  @media screen and (min-width: 360px) and (max-width: 500px) {
    header{
      height: 400px;
    }
    #logo{
      display: none;
           
       }
       /* Navbar */
     nav{
       display: none;
     }
     .backmobiles{
      display: block;
      background-color: rgb(255, 255, 255);
      padding: 20px;
      color: black;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 20px;
      position: fixed;
      width: 100%;
      z-index: 1;
      
    }
    /* Burger menu */
    .wrapper{
        display: block;
        z-index: 100;
        
      }
      .wrapper__checkbox {
        display: none;
      }
      .wrapper__checkbox:checked ~ .wrapper__menu {
        right: 0; }
      
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;  
      }
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
        opacity: 0;  
      }
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
        transform: rotate(-45deg);
        top: -6px;  
      }
      .wrapper__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        position: fixed;
        top: 11px;
        right: 20px;
        cursor: pointer;
        z-index: 3;
      }
      .wrapper__button-line {
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        background: #000;
        margin: 2px 0;
        position: relative;  
        transition: all .2s ;
      }
      .wrapper__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 400px;
        background:#243645;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 100px 40px 40px;
        transition: right .4s;
        border-bottom-left-radius: 100px;
        z-index: 2;
      }
      .wrapper__menu-link {
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 30px;
        padding: 5px 10px;
        transition: all .2s linear;
        font-family: 'Montserrat', sans-serif;
      }
   /* no flex at contact form and contact image */
  .column {
    margin-top: -25px;
    width: 95%;
    
    margin-left:2.5%; 
    margin-right:2.5%;
    
  }
  .wrapperr {
    height:750px;
  }
  #heading{
    font-size:24px;
  }
  /* Footer */
 .ff{
  display: block;
  transform: translateY(-75px);
  }
  .centertext{
margin-top: 30px;    
  }
  .righttext{
    margin-top: 30px; 
  }
  #footerlogo{
    display: block;
    margin: auto;
    width: 60%;
  }
}
/* Responsive design for tablets and small pc screens */
@media screen and (min-width: 501px) and (max-width: 960px){
  header{
    height: 400px;
  }
  #logo{
    display: none;
         
     }
     /* Navbar */
   nav{
     display: none;
   }
  
   
   .backmobiles{
     display: block;
     background-color: rgb(255, 255, 255);
     padding: 20px;
     color: black;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 20px;
     position: fixed;
     width: 100%;
     z-index: 1;
     transform: translateY(none);
   }
   /* burger menu */
   .wrapper{
       display: block;
       z-index: 100;
       
     }
     .wrapper__checkbox {
       display: none;
     }
     .wrapper__checkbox:checked ~ .wrapper__menu {
       right: 0; }
     
     .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
       transform: rotate(45deg);
       top: 8px;  
     }
     .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
       opacity: 0;  
     }
     .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
       transform: rotate(-45deg);
       top: -6px;  
     }
     .wrapper__button {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       background: #fff;
       position: fixed;
       top: 11px;
       right: 20px;
       cursor: pointer;
       z-index: 3;
     }
     .wrapper__button-line {
       display: block;
       width: 20px;
       height: 3px;
       border-radius: 5px;
       background: #000;
       margin: 2px 0;
       position: relative;  
       transition: all .2s ;
     }
     .wrapper__menu {
       position: fixed;
       top: 0;
       right: -100%;
       width: 250px;
       height: 400px;
       background:#243645;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-end;
       padding: 100px 40px 40px;
       transition: right .4s;
       border-bottom-left-radius: 100px;
       z-index: 2;
     }
     .wrapper__menu-link {
       font-size: 18px;
       line-height: 20px;
       color: rgb(255, 255, 255);
       text-transform: uppercase;
       text-decoration: none;
       margin-bottom: 30px;
       padding: 5px 10px;
       transition: all .2s linear;
       font-family: 'Montserrat', sans-serif;
     }
     /* No flex */
     .column {
      margin-top: -25px;
      width: 95%;
      
      margin-left:2.5%; 
      margin-right:2.5%;
      
    }
    .wrapperr {
      height:750px;
    }
    #heading{
      font-size:24px;
    }
    /* Footer */
   .ff{
    display: block;
    transform: translateY(-75px);
    }
    .centertext{
  margin-top: 30px;    
    }
    .righttext{
      margin-top: 30px; 
    }
    #footerlogo{
      display: block;
      margin: auto;
      width: 60%;
    }
   
    }
    /* responsive design for small laptop screens */
    @media screen and (min-width: 961px) and (max-width: 1100px){
      header{
        height: 400px;
      }
      nav ul li {
        display: inline;
        font-size:16px;
        font-style: normal;
        padding:30px;
        margin:10px;
        letter-spacing: 2px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .wrapperr {
     
      height:710px;
      
      
    }
     }